@import url("../index.css");

button {
  cursor: pointer;
  border-radius: 4px;
}

.primaryBtn {
  border: none;
  color: var(--btn-primary-text);
  background-color: var(--btn-primary-bg);
  padding: 12px 24px;
  transition: all .3s;
}

.primaryBtn:hover{
  background-color: var(--btn-primary-bg-hover)
}
